h1 {
    color: #0099dd;
}

span#p1 {
    font-size: 20px;
    color: #888888;
}

span.name {
    color: #0000FF;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 2px;
}